{% extends "blog/base_about.html" %}

{% block head %}
    <!-- Inherit head content like meta tags, title, etc., from the base template -->
    {{ block.super }}

    <!-- Include Bootstrap CSS for styling -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Include FontAwesome for icons -->
    <link href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" rel="stylesheet">

    <!-- Custom CSS for popup -->
    <style>
        .popup {
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0.5);
            z-index: 2;
            display: none; /* Hidden by default */
        }

        .card {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            cursor: auto;
        }
    </style>
{% endblock head %}

{% block content %}
<!-- Main Content -->

<div class="container mt-5">
    <!-- Disclaimer Popup -->
    <div id="disclaimerPopup" class="popup">
        <div class="card border-warning mb-3">
            <div class="card-header bg-warning text-white">Disclaimer</div>
            <div class="card-body text-warning">
                <h5 class="card-title"><i class="fas fa-exclamation-triangle"></i> Important Information</h5>
                <p class="card-text">The content on this site is for institutional investors only and is not intended as investment advice. The financial markets, including cryptocurrencies like Bitcoin, carry potential risks, and past performance is not indicative of future results.</p>
                <button onclick="closePopup()" class="btn btn-secondary">Agree & Close</button>
            </div>
        </div>
    </div>

    <!-- Main Content -->
    <div class="card">
        <div class="card-body">
              <p class="card-text">Bitcoin's halving is a significant event with historical implications on its value. Discover the potential changes and how they may influence investment strategies moving forward. <a href="https://www.sick-ventures.com/post/107/">Read more...</a></p>

            <!-- Historical Performance Highlight -->
             <p cclass="card-text"> The institutional adoption and the Bitcoin ETF is the start of a new era and fundamentaly reshaping Bitcoin's market dynamics. Future valuations will liekly reflect that. <a href="https://www.sick-ventures.com/post/101/">Learn more...</a></p>
     
            <!-- Historical Performance Highlight -->
             <p cclass="card-text">The digital asset revolution introduces complex new valuation methods, transforming how we assess and engage with cryptocurrencies. As the landscape evolves, these methodologies will become critical in understanding market behaviors. <a href="https://www.sick-ventures.com/post/55/">Find out more...</a></p>
   

            <!-- Simplifying the Complex -->
            <p class="card-text">The market can be complex, but I´m here to guide you through an intricate web of digital asset dynamics to provide a more straightforward understanding of the landscape. <a href="https://www.sick-ventures.com/about">I´m here to help</a></p>

        </div>
    </div>
</div>

<script>
    window.onload = function() {
        document.getElementById('disclaimerPopup').style.display = 'block';
    }

    function closePopup() {
        document.getElementById('disclaimerPopup').style.display = 'none';
    }
</script>

<!-- Include Bootstrap and FontAwesome scripts for functionality and icons -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
{% endblock content %}

