
{% extends "blog/base1.html" %}

{% block content %}

<p>Last updated: January 5th, 2024</p>

<p>At Sick Ventures, accessible from www.sick-ventures.com, one of our main priorities is the privacy of our visitors. This Privacy Policy document outlines the types of information that are collected and recorded by Sick Ventures and how we use it.</p>

<h3>Information We Collect</h3>
<p>The personal information that you are asked to provide, and the reasons why you are asked to provide it, will be made clear to you at the point we ask you to provide your personal information. If you contact us directly, we may receive additional information about you such as your name, email address, phone number, the contents of the message and/or attachments you may send us, and any other information you may choose to provide.</p>

<h3>How We Use Your Information</h3>
<p>We use the information we collect to:</p>

<ul>
  <li>Provide and maintain our services</li>
  <li>Improve and expand our offerings</li>
  <li>Understand and analyze user preferences and website usage patterns</li>
  <li>Develop new products, services, and features</li>
  <li>Communicate with you for customer service, updates, and marketing</li>
  <li>Send you emails and newsletters that you have opted in to receive</li>
  <li>Prevent and detect fraud or other prohibited activities</li>
  <li>Comply with our legal obligations, resolve disputes, and enforce our agreements</li>
</ul>
<h3>Cookies</h3>
<p>Cookies are small data files stored on your device that help websites remember information about your visit. Sick Ventures uses cookies to understand how you use our website and to enhance your user experience, including tailoring content and advertisements. You have the option to either accept or refuse these cookies and know when a cookie is being sent to your computer. If you choose to refuse our cookies, you may not be able to use some portions of our service.</p>

{% endblock content %}
