
{% extends "blog/base1.html" %}

{% block content %}

<p>Last updated: January 5th, 2024</p>

<p>At Sick Ventures, accessible from www.sick-ventures.com, one of our main priorities is the privacy of our visitors. This Privacy Policy document outlines the types of information that are collected and recorded by Sick Ventures and how we use it.</p>

<h3>Information We Collect</h3>
<p>The personal information that you are asked to provide, and the reasons why you are asked to provide it, will be made clear to you at the point we ask you to provide your personal information. If you contact us directly, we may receive additional information about you such as your name, email address, phone number, the contents of the message and/or attachments you may send us, and any other information you may choose to provide.</p>

<h3>How We Use Your Information</h3>
<p>We use the information we collect in various ways, including to:</p>

<ul>
    <li>Provide, operate, and maintain our website</li>
    <li>Improve, personalize, and expand our website</li>
    <li>Understand and analyze how you use our website</li>
    <li>Develop new products, services, features, and functionality</li>
    <li>Communicate with you, either directly or through one of our partners, including for customer service, to provide you with updates and other information relating to the website, and for marketing and promotional purposes</li>
    <li>Send you emails</li>
    <li>Find and prevent fraud</li>
</ul>

<h3>Log Files</h3>
{% endblock content %}
