
{% extends "blog/base.html" %}

{% block content %}

<p>Last updated: January 5th, 2024</p>

<p>At Sick Ventures, accessible from www.sick-ventures.com, one of the  priorities is the privacy of  visitors. This Privacy Policy  outlines the types of information that are collected and recorded by Sick Ventures and how they are used.</p>


<h3>Which personal data do we collect, and when?</h3>
<p>The information collected is information that you voluntarily send to us when you engage with the website or through various means such as email, contact forms, or other communication channels. This typically includes personal data such as your name, email address, telephone number, language preferences, and possibly your job title and business address.</p>

<h3>For what purposes do we process your personal data?</h3>
<p>Your personal data is processed only in connection with the activities at Sick Ventures, which may include service provision, member management, or as part of a commercial transaction. Specifically, your personal data is processed to send newsletters or other related updates. The reasons why you are asked to provide personal information, will be made clear to you at the point in which you are required to provide personal information to use a service. If you contact someone at Sick Ventures directly, additional information will be processed such as your name, email address, phone number, the contents of the message and/or attachments, and any other information you may choose to provide. The information collected can serve various purposes, below summarized for the most important usages:</p>

<ul>
  <li>Provide and maintain our services</li>
  <li>Improve and expand our offerings</li>
  <li>Understand and analyze user preferences and website usage patterns</li>
  <li>Develop new products, services, and features</li>
  <li>Communicate with you for customer service, updates, and marketing</li>
  <li>Send you emails and newsletters that you have opted in to receive</li>
  <li>Prevent and detect fraud or other prohibited activities</li>
  <li>Comply with legal obligations, resolve disputes, and enforce our agreements</li>
</ul>


<h3>What is the justification for processing your personal data and is it shared with third parties?</h3>
<p>Your personal data is processed based on your consent, especially when you subscribe to receive newsletters or other communications. If required, data may be processed to fulfill contracts or, where permissible, to serve legitimate interests, such as for marketing, legal claims, or if it is necessary for the administration and operation of the business.</p>
<p>Disclosure of personal data to third parties occurs only when necessary to engage service providers for IT and system administration support.</p>
<h3>Where is your personal data stored and for how long?</h3>
<p>Sick Ventures is based in Switzerland and processes and stores all personal data on Swiss servers, adhering to the country's data protection laws.</p>
<p>Your personal data is retained only for the period necessary to fulfill the collected purposes, meet legal obligations, or maintain contractual relationships. Upon no longer being necessary, steps are taken to either delete or anonymize the data.</p>
<h3>Personal Data Protection and Your Rights</h3>
<p>Appropriate technical and organizational measures are in place to safeguard personal data from unauthorized access, loss, or misuse. Collaborations with hosting providers aim to fortify database security. Nonetheless, it is acknowledged that no security system is completely secure.</p>
<p>You possess rights over your personal data, including access, correction, or deletion, as sanctioned by relevant data protection laws. To exercise these rights, proof of identity may be required. You also have the right to file a complaint with the appropriate supervisory authority.</p>
<h3>Cookies and Server Log Files</h3>
<p>Cookies, small data files on your device, facilitate the recollection of website visit details. Sick Ventures utilizes cookies to enhance the website's user experience, such as content personalization and advertisement tailoring. The choice to accept or refuse cookies is yours, with the understanding that opting out may affect the usability of certain website services.</p>
<p>Server log file data, collected by the hosting provider, underpins website security and performance and is processed in line with legal stipulations, without secondary use.</p>
<h3>Google Analytics and Newsletters</h3>
<p>Google Analytics assists in website and service optimization. Opting out of this tracking is possible via browser add-ons or settings.</p>
<p>Newsletters are distributed, with subscription management and performance analytics potentially handled by a third-party provider. Subscription cancellation is respected immediately upon request.</p>
{% endblock content %}
